body {
	background-color: #f0f0f0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}


.header {
	background: url(../img/banner2.jpg);
	background-size: 100% 100%;
	min-height: 700px;
	padding-top: 50px;
}

.header h1 {
	font-size: 100px;
	padding-top: 400px;
	padding-right: 100px;
	text-align: right;
	margin-bottom: 0px;
	color: white;
}

.header h2 {
	font-size: 50px;
	font-style: italic;
	margin-top: 5px;
	padding-right: 120px;
	text-align: right;
	margin-bottom: 0px;
	color: white;
}

/*navbar*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navcontainer {
	background-color: #f0f0f0;
	line-height: 0px;
	text-align: right;
	padding-right: 50px;
}

.navbar ul.navlist{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	background-color: #f0f0f0;
	
}

.navlist a{
	font-size: 12px;
	display: block;
	text-decoration: none;
	padding: 15px 15px 15px 15px;
	color: black;
}

.navlist a:hover{
	color: white;
	background: #ff5050;
	text-decoration: none;
}


.navlist li {
	display: block;
    float: left;
}

/*about*/

.aboutbox{
	background-color: #ffffe6;
	margin-left: 250px;
	margin-right: 250px;
}

.about {
	text-align: center;
	margin-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: 100px;
	margin-bottom: 0px;
}

.about h2 {
	text-align: center;
}

.about img {
	display: inline-block;
	width: 55%;
	height: 55%;
	border: 5px solid white;
	border-radius: 50%;
}

.resume {
	margin-top: 0px;
	padding-top: 20px;
	margin-left: 250px;
	margin-right: 250px;
	background-color: white;
}

.resume h2 {
	color: #ff5050;
}

.resumebox {
	margin-left: 100px;
	margin-right: 100px;
}

.resume degree {
	color: #ff5050;
	font-size: 18px;
	font-weight: bold;
}

.resume date {
	float: right;
}