body {
	background-color: #cccccc;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.header {
	background: url(../img/banner.jpg);
	background-size: 100% 100%;
	min-height: 700px;
	padding-top: 50px;
}

.header h1 {
	font-size: 100px;
	padding-top: 400px;
	padding-right: 100px;
	text-align: right;
	margin-bottom: 0px;
	color: white;
}

.header h2 {
	font-size: 50px;
	font-style: italic;
	margin-top: 5px;
	padding-right: 120px;
	text-align: right;
	margin-bottom: 0px;
	color: white;
}

/*navbar*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.navcontainer {
	background-color: #f0f0f0;
	line-height: 0px;
	text-align: right;
	padding-right: 50px;
}

.navbar ul.navlist{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	background-color: #f0f0f0;

}

.navlist a{
	font-size: 25px;
	display: block;
	text-decoration: none;
	padding: 15px 15px 15px 15px;
	color: black;
}

.navlist a:hover{
	color: white;
	background: #ff5050;
	text-decoration: none;
}

.navlist li {
	display: block;
    float: left;
}




/*about*/

.aboutbox{
	background-color: #1a9cff;
	margin-left: 150px;
	margin-right: 150px;
	color: white;
}

.about{
	margin-left: 100px;
	padding-top: 85px;
	padding-bottom: 95px;
	margin-right: 100px;
	margin-bottom: 0px;
	font-size: 18px;
}

.aboutbox h3 {
	padding-top: 0px;
	margin-top: 0px;
}

/* RESUME */

.resume {
	margin-top: 0px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: white;
}

.resume h3 {
	color: #ff5050;
	padding-top: 0px;
	margin-top: 0px;
}

.resume p {
	padding-bottom: 30px;
	font-style: italic;
}

.resumebox {
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 0px;
	padding-bottom: 30px;
}

.education {
	padding-bottom: 75px;
}
.certifications {
	padding-bottom: 75px;
}
.resume degree {
	color: #ff5050;
	font-size: 18px;
	font-weight: bold;
}

.resume date {
	float: right;
}

.description p {
	font-style: normal;
}

.skills {
	margin-top: 0px;
	padding-top: 75px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: white;
	padding-bottom: 45px;

}

.skills h3 {
	color: #ff5050;
	padding-left: 0px;
	margin-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

.skills .skill {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.skills i {
  padding-top: 200px;
  font-size: 150px;
  text-align: right;
}

hr {
  margin-left: 40px;
  margin-right: 40px
}

.contact {
	padding-top: 25px;
	padding-bottom: 150px;
	color: white;
	background-color: #ff5050;
}

.email-label {
	padding-top: 20px;
	font-weight: bold;
}

@media (max-width: 1480px) {
	.aboutbox{
		background-color: #1a9cff;
		color: white;
		margin-left: 0px;
		margin-right: 0px;
	}

	.resume {
		margin-top: 0px;
		background-color: white;
		margin-left: 0px;
		margin-right: 0px;
	}

.skills {
		margin-top: 0px;
		padding-top: 40px;
		margin-left: 0px;
		margin-right: 0px;
		background-color: white;
		padding-bottom: 50px;

	}
}

@media (max-width: 1200px) {
	.header {
		background-size: 100% 100%;
		min-height: 500px;
		padding-top: 50px;
	}

	.header h1{
		font-size: 75px;
		padding-top: 250px;
		padding-right: 100px;
		text-align: right;
		margin-bottom: 0px;
		color: white;
	}

	.header h2 {
		font-size: 40px;
		font-style: italic;
		margin-top: 5px;
		padding-right: 120px;
		text-align: right;
		margin-bottom: 0px;
		color: white;
	}

}

@media (max-width: 1000px) {
	.navcontainer{
		padding-right: 0px;
		text-align: center;
	}
}
