body {
	background-color: #f0f0f0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}


.header {
	background: url(../img/banner2.jpg);
	background-size: 100% 100%;
	min-height: 700px;
	padding-top: 50px;
}

.header h1 {
	font-size: 100px;
	padding-top: 400px;
	padding-right: 100px;
	text-align: right;
	margin-bottom: 0px;
	color: white;
}

.header h2 {
	font-size: 50px;
	font-style: italic;
	margin-top: 5px;
	padding-right: 120px;
	text-align: right;
	margin-bottom: 0px;
	color: white;
}

/*navbar*/
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.container {
	background-color: #f0f0f0;
	line-height: 0px;
	text-align: right;
	padding-right: 50px;
}

#navbar ul#nav{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	background-color: #f0f0f0;
	
}

#nav a{
	font-size: 12px;
	display: block;
	text-decoration: none;
	padding: 15px 15px 15px 15px;
	color: black;
}

#nav a:hover{
	color: white;
	background: #ff5050;
	text-decoration: none;
}


#nav li {
	display: block;
    float: left;
}

/*about*/

#aboutbox{
	background-color: #ffffe6;
	margin-left: 200px;
	margin-right: 200px;
}

#about {
	margin-left: 100px;
	padding-top: 10px;
	padding-bottom: 75px;
	margin-right: 100px;
	margin-bottom: 0px;
}

#resume {
	margin-top: 0px;
	padding-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: white;
}

#resumebox {
	margin-left: 100px;
	margin-right: 100px;
}